*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav .nav-link.active {
    color: #fff;
}

.nav-link {
    text-align: center;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}



section {
    height: 100vh;
    background-color: #f3f3f3;
    padding-top: 70px;
}

header {
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
}